absl-py
asgiref
attrs
certifi
charset-normalizer
contourpy
cycler
Django
djangorestframework
flatbuffers
fonttools
idna
kiwisolver
matplotlib
mediapipe
numpy
opencv-contrib-python2
opencv-python
packaging
Pillow
protobuf
pyparsing
python-dateutil
pytz
requests
six
sqlparse
urllib3
