{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color: #f2e4a2;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janus AI: Deepfake Video Editor</title>
    <meta name="description" content="The best free deepfake video editor online">
    <link rel="stylesheet" type="text/css" href="{% static '/css/janus.css' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6491312193501315"
     crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'img/janus.ico' %}" type="image/x-icon">

</head>

<body>
   
   
        <section style="background-color: #f2e4a2; height: 85vh;  display: flex; justify-content: center; align-items: center; flex-direction: column;">
          <img class="janusImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAk95UYQhx9Y8uLbPY8EeLyC7CFP4PmMTbqyRMpTw8rUHf2SJZe03mUjpS1u4JBsz4bAY&usqp=CAU">
          <br><br>
          <h1 style="text-align: center;" class="title">Janus AI <span class="tag is-info">Beta</span></h1>  
          <p class="slogan" >Make Your Own Private Swap Face Videos For Free</p>
            <div class="uploads">
                <article style="display: flex; height: 100%;  display: flex; ">
                <div   class="forms">
                <form>
                    <label for="video-upload">
                        <img style="width: 100px;  cursor: pointer;" src="https://i.postimg.cc/vT7kQCN1/video-icon.png"></i>
                        <input id="video-upload" style="display: none;" type="file"/>
                        <br/>
                        <span id="video-name"> Upload Video</span>
                    </label>     
                </form>
                </div>
                <div class="forms">
                <form>
                    <label for="image-upload">
                        <img style="width: 100px; cursor: pointer;" src="https://i.postimg.cc/vmNdkRJb/icon-camera-512.webp "></i>
                        <input id="image-upload" style="display: none;" type="file"/>
                        <br/>
                        <span id="image-name"> Upload Image </span>
                    </label>     
                </form>
                </div>
            </article>
            </div>

            
            
        <button class="button is-danger"  id='deep-fake' type="submit">
          Swap</button>

        <button class="button is-danger is-loading" id="loader">Loading</button>
        </section>
        
        
     
    
</body>
<script src="{%static 'js/swap.js'%}"></script>
</html>
